*~
#*#	
.#.*
.emacs.d/elpa/
.emacs.d/auto-save-list
.emacs.d/url
.emacs.d/eshell/lastdir
.emacs.d/eshell/history
.emacs.d/semanticdb 
.emacs.d/auto-save-list
.emacs.d/url
.emacs.d/plugins
.emacs.d/org
.emacs.d/session.*
.emacs.d/tramp
.emacs.d/ac-comphist.dat
.emacs.d/emacs-custom.el
.emacs.d/el-get/
/.emacs.d/ac-comphist.dat
/.emacs.d/el-get/el-get
/.emacs.d/elpa/archives/gnu/archive-contents
/.emacs.d/elpa/archives/gnu/archive-contents~
/.emacs.d/elpa/archives/marmalade/archive-contents
/.emacs.d/elpa/archives/marmalade/archive-contents~
/.emacs.d/srecode-map.el
/.emacs.d/tramp
/.emacs.d/url/cookies
/.emacs.d/url/cookies~
